@use '@/app/resources/style/variables.scss' as v;
@use '@/app/resources/style/mixins.scss' as m;

.edit-draft-container {

   
    position: absolute;
    background-color: v.$base-color;
    top: 0px;
    left: 0px;
    right: 0px;
    //opacity: 0.5;

    margin-left: auto;
    margin-right: auto;
    .edit-draft {
        position: relative;
       opacity: 1.0;
       background-color: aqua;
       z-index: 6500;
        padding: 2rem;
        width: fit-content;
       
    }
}