.draft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 0 0;
    padding: 2rem 0 2rem 0;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: auto;
    ;

}

.partial {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    gap: 1rem;
    justify-content: center;
}