
$threadspace:1rem;
$base-space:2rem;

$base-color: rgb(198, 211, 236);
$secondary-color: aliceblue;
$accent-color1: rgb(58, 9, 90);
$accent-color2: rgb(118, 56, 141);

$thin-border: 1px solid $accent-color1;
$thick-border: 2px solid $accent-color1;




