.nav-container {
    margin-bottom: 1.5rem;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .top-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-items: center;
        justify-content: center;
    }
}

//TODO: Add hover-color to active button