.nav-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;

    .nav-bar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-items: center;
        justify-content: center;
    }
}
//TODO: Add hover-color to active button