tool-tip {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    user-select: none;

    &::before {
        content: "; Has tooltip: ";
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
      }
  }

  :has(> tool-tip) {
    position: relative;
  }